---
layout: page
title: GS E&C - HACKATHON　
title_1: GS E&C - SUSTAINABLE HACKATHON
image: /files/covers/not_only_me.jpg
permalink: /finishline/
sitemap: yes.
tags: [finishline]
description: |
 마라톤의 끝에서 만나는 "Finish Line".
 이것은 다시금 시작하는 새로운 출발을 의미합니다.
---

<link rel="stylesheet" href="../assets/css/finishline.css">
<div class="row">
	{% for item in site.data.finishline.defaults %}
	<div class="col-sm-6">
		<div class="card">
			<div class="card-body">
				<h2 class="card-title" style="margin:10px 0 0 0;">{{ item.name }}</h2>
				<h6 class="card-subtitle mb-2 text-muted" style="margin-top:10px">{{ item.title }}</h6>
				<p class="card-text">{{ item.content }}</p>
				<p class="post-tags">
					{% for tag in item.tags %}
					{% assign tag_url = '/tags/' | append: tag %}
						{% for tm in site.data.finishline.tagmap %}
							{% if tag == tm.tag %}
								{% assign tag_url = tm.url %}
							{% endif %}
					    {% endfor %}
					<a href="{{ tag_url }}" target="_blank" title="finishline" class="tag tag-finishline" style="text-decoration: none">{{ tag }}</a>
					{% endfor %}
				</p><br/>
				<a href="{{ item.finishline }}" target="_blank" class="btn btn-primary" style="color:#fff; text-decoration: none;">> Finish line</a>
				{% if item.blog_url %}
				<a href="{{ item.blog_url }}" target="_blank" class="btn btn-primary" style="color:#fff; text-decoration: none;">> Blog</a>
				{% endif %}
			</div>
		</div>
	</div>
	{% endfor %}
</div>