<div id="footer" class="container-fluid">
    <ul id="links">
		<li>
			<a id="link-xi_icon" style="margin-right: 15px;">
                <span class="sr-only">xi - Home Page</span>
			</a>
		</li>
        <li>
            <a id="link-xi_home" href="https://www.xi.co.kr/" target="_blank">
                <span class="sr-only">xi - Home Page</span>
            </a>
        </li>
        <li>
            <a id="link-xi_webzine" href="https://beyondapartment.kr/" target="_blank">
                <span class="sr-only">xi - Web magazine</span>
            </a>
        </li>
        <li>
            <a id="link-xi_Youtube" href="https://www.youtube.com/channel/UCj8aOHC8KA8qlnT1wQKWaoA" target="_blank">
                <span class="sr-only">xi - Youtube</span>
            </a>
        </li>
        <li>
            <a id="link-xi_Naver_Post" href="https://post.naver.com/gsenc_xi/" target="_blank">
                <span class="sr-only">xi - Naver post</span>
            </a>
        </li>
        <li>
	    <a href="fb://">TEST</a>
            <span class="sr-only">FB TEST1</span>
            </a>
        </li>
        <li>
	    <a href="fbatwork://">TEST2</a>
            <span class="sr-only">Workplace TEST</span>
            </a>
        </li>
        <li>
	    <a href="fb-workchat://">TEST3</a>
            <span class="sr-only">Workplace TEST</span>
            </a>
        </li>
        <li>
	    <a href="fbatwork://work.me/1RMpXOpbiKWzaBw">TEST5</a>
            <span class="sr-only">Workplace TEST</span>
            </a>
        </li>
        <li>
	    <a href="fbatwork://1RMpXOpbiKWzaBw">TEST6</a>
            <span class="sr-only">Workplace TEST</span>
            </a>
        </li>
<br><br><br>
        <li>
	    <a href="fbatwork://profile?id=100090077013119">TEST7</a>
            <span class="sr-only">Workplace TEST</span>
            </a>
        </li>
<br><br><br>
        <li>
	    <a href="fbatworksignup://profile?id=100090077013119">TEST8</a>
            <span class="sr-only">Workplace TEST</span>
            </a>
        </li>
<br><br><br>
        <li>
	    <a href="fb-work-emailless://accesscode?access_code=abcdefgh]ijklmnop">TEST9</a>
            <span class="sr-only">Workplace TEST</span>
            </a>
        </li>
<br><br><br>
        <li>
	    <a href="fbatwork://100090077013119">TEST10</a>
            <span class="sr-only">Workplace TEST</span>
            </a>
        </li>
<br><br><br>
        <li>
	    <a href="fbatwork://gsencwp+92002J0013@gmail.com">TEST11</a>
            <span class="sr-only">Workplace TEST</span>
            </a>
        </li>
<br><br><br>
        <li>
	    <a href="fbatworksignup://100090077013119">TEST12</a>
            <span class="sr-only">Workplace TEST</span>
            </a>
        </li>
<br><br><br>
        <li>
	    <a href="fbatworksignup://gsencwp+92002J0013@gmail.com">TEST13</a>
            <span class="sr-only">Workplace TEST</span>
            </a>
        </li>
<br><br><br>
        <li>
	    <a href="fbatwork://id?id=100090077013119">TEST10</a>
            <span class="sr-only">Workplace TEST</span>
            </a>
        </li>
<br><br><br>
        <li>
	    <a href="fbatwork://id=100090077013119">TEST10</a>
            <span class="sr-only">Workplace TEST</span>
            </a>
        </li>
<br><br><br>
        <li>
	    <a href="fbatworksignup://id=100090077013119">TEST12</a>
            <span class="sr-only">Workplace TEST</span>
            </a>
        </li>
<br><br><br>
        <li>
	    <a href="fbatworksignup://id?id=100090077013119">TEST12</a>
            <span class="sr-only">Workplace TEST</span>
            </a>
        </li>
<br><br><br>
        <li>
	    <a href="fbatworksignup://claimlink?claimlink=work.me/1RMpXOpbiKWzaBw">TEST5</a>
            <span class="sr-only">Workplace TEST</span>
            </a>
        </li>
<br><br><br>
        <li>
	    <a href="fbatworksignup://claimlink=work.me/1RMpXOpbiKWzaBw">TEST5</a>
            <span class="sr-only">Workplace TEST</span>
            </a>
        </li>
<br><br><br>
        <li>
	    <a href="fbatwork://claimlink?claimlink=work.me/1RMpXOpbiKWzaBw">TEST5</a>
            <span class="sr-only">Workplace TEST</span>
            </a>
        </li>
<br><br><br>
        <li>
	    <a href="fbatwork://claimlink=work.me/1RMpXOpbiKWzaBw">TEST5</a>
            <span class="sr-only">Workplace TEST</span>
            </a>
        </li>
    </ul>
    <ul id="footer-menu">
        <li><a href="//www.gsenc.com" target="_blank">GS E&C</a></li>
        <li><a href="//www.gsenc.com/Recruit/Recruit.aspx" target="_blank">Jobs</a></li>
		<li><a href="{{ base_path }}/Contact/">Contact</a></li>
    </ul>
    <p id="copyright">
        <a href="//www.gsenc.com">Copyright &copy; GS E&C Corp.</a>
        All rights reserved.
    </p>
</div><!--#footer-->
