<div id="footer" class="container-fluid">
    <ul id="links">
		<li>
			<a id="link-xi_icon" style="margin-right: 15px;">
                <span class="sr-only">xi - Home Page</span>
			</a>
		</li>
        <li>
            <a id="link-xi_home" href="https://www.xi.co.kr/" target="_blank">
                <span class="sr-only">xi - Home Page</span>
            </a>
        </li>
        <li>
            <a id="link-xi_webzine" style="width: 21px; background-size: 21px 20px;"  href="https://beyondapartment.kr/" target="_blank">
                <span class="sr-only">xi - Web magazine</span>
            </a>
        </li>
        <li>
            <a id="link-xi_Youtube" href="https://www.youtube.com/channel/UCj8aOHC8KA8qlnT1wQKWaoA" target="_blank">
                <span class="sr-only">xi - Youtube</span>
            </a>
        </li>
        <li>
            <a id="link-xi_Naver_Post" href="https://post.naver.com/gsenc_xi/" target="_blank">
                <span class="sr-only">xi - Naver post</span>
            </a>
        </li>
    </ul>
    <ul id="footer-menu">
        <li><a href="//www.gsenc.com">GS E&C</a></li>
        <li><a href="//www.gsenc.com/Recruit/Recruit.aspx">Jobs</a></li>
    </ul>
    <p id="copyright">
        <a href="//www.gsenc.com">Copyright &copy; GS E&C Corp.</a>
        All rights reserved.
    </p>
</div><!--#footer-->
