---
layout: default
---
<div id="cover" class="container-fluid" {% if site.image %}style="background-image:url({{ site.image }});" {% endif %}>
  <div>
    <h1>{{ site.title_1 }}</h1>
    <p>{{ site.description | newline_to_br }}</p>
  </div>
</div>

<div class="Top-Ad-container" style="margin-top:25px; padding:0px">
  <a href="/posts/hovering_0/" target="_blank"><img src="/files/Top-Ad_banner.png" style="width:100%;"></a>
</div><br><br>
<div id="navbar" class="container">
<h5>https://apps.powerapps.com/play/e/f50e1df3-e8b4-e332-a60a-36776ed08f90/a/534a4636-88fa-4eb0-bb4a-27255661e849?tenantId=b9f2ea37-332a-432b-b744-ecfc9763abfd&hint=06974a24-58ff-45f4-a0f1-b03a2eaf6ff2&sourcetime=1727165223195&hidenavbar=true&skipMobileRedirect=1</h5>
<br><br><br>
  <h5>Featured Posts</h5>
</div>


<div id="content" class="container">
  <div id="home-content" role="main">
    {{ content }}
  </div>
</div>